body{
   
    overflow-x: hidden;
    background-color: blue;

}
@media (max-width:1400px){

    .ko{
        margin-top: 25%;}
    
}


@media (max-width:400px){

    .ko{
        margin-top: 20px;}
    .cen{
        text-align: center;
    }
}

@media (max-width:992px){
    .inp{position: relative;
    left: -4px;

}

.cen{
    text-align: center;
}
.ko{
    margin-top: 50%;}

}


@media (max-width:1200px){
    .inp{position: relative;
    left: -4px;

}
.ko{
    margin-top: 25%;
  text-align: center;
}
   

}

.main{
height: 100vh;
position: relative;
z-index: 2;
}
.get{

background-color: red;
border: 4px solid red;
color: whitesmoke;
}
.hj{
    text-align: center;
}
.divider{
    width: 100%;
    height: 6px;
    background-color:white;
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
    background-image: linear-gradient(rgba(0,0,0,1),rgba(255,255,255,0));
    z-index: -2;
}


